html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #2c2141;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
.main {
  background: #f8f8f8;
  border-radius: 16px;
  width: 624px;
  margin: 16px;
  padding: 32px;
}

.person__name {
  font-size: 36px;
  margin: 0;
  font-weight: normal;
}

.person__lvl {
  font: size 16px;
  margin: 0;
  font-style: italic;
  color: #545454;
}

.person__description {
  font-size: 16px;
}
